body {
    font-family: 'Yeseva one', cursive;
    box-sizing: border-box;
}
.row {
    margin: 0;
}
.container {
    padding: 70px 0;
}

/*==== BARRA DE NAVEGAÇÃO ========*/
header, .navbar {
    background-color: transparent;
}
.sticky {
    background-color: #e48900;
    padding: 20px 0;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
    padding: 0;
    color: #ffff;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* ========= BANNER ====================*/
.container-fluid {
    padding: 0;
}
#home {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 5%;
}
.banner-text h1 {
    color: #fff;
    font-weight: 900;
    font-size: 65px;
    margin-bottom: 1rem;
    text-shadow: .1rem .2rem 2px #000;
}
.banner-text p {
    color: #fff;
    font-size: 18px;
    text-shadow: .1rem .1rem #000;
}
/* ======== CONTAINER AREA ========*/
#container-area {
    background: url(../img/bg.jpg);
    background-attachment: fixed;
}
#about-area {
    background: #ffff;
    margin-top: 40px;
    margin-bottom: 40px;
}
.box_about_left {
    position: relative;
}
.img_two {
    position: absolute;
    width: 50%;
    bottom:-3%;
    right: -6%;
    border: 10px solid #fff;
}
.about_box_right {
    margin-top: 50px;
    padding: 0 100px;
}
.main_title {
    font-size: 3.5rem;
    font-weight: 600;
}
.sub_title {
    font-size: 30px;
    font-weight: 500;
}
.about_box_right p {
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #575757;
}
.about_box_right span {
    font-size: 22px;
}
.main-btn {
    width: 12rem;
    height: 3rem;
    margin-left: 1rem;
    background-color: #e48900;
    border: none;
    transition: 1s;
}
.main-btn a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
.main-btn i {
    font-size: 25px;
    margin-right: .3rem;
}
.main-btn:hover {
    background-color: transparent;
    border: 1px solid #e48900;
}
.main-btn a:hover {
    color: #e48900;
}

/* ========  SERVICE =========*/
.service_header {
    text-align: center;
    margin-bottom: 80px;
}
.service_header h2 {
    font-size: 4rem;
    font-weight: 600;
}
.card {
    box-shadow: 0.1rem 1px #575757;
}
.card-body {
    position: relative;
}
.icon {
    position: absolute;
    top: -10%;
    left: 40%;
    width: 55px;
    background-color: #e48900;
    border-radius: 50rem;
    padding: .5rem;
}
.card-body h4 {
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
}
.card-body p {
    color: #575757;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: justify;
}
.card img {
    transition: 1s;
    cursor: pointer;
}
.card img:hover {
    transform: scaleY(1.1);
}
/* ======== PRICE ==========*/
#price-area {
    background-color: #fff;
}
.price_header h3{
    font-size: 3.5rem;
    font-weight: 600;
}
.price_header p {
    color: #575757;
    font-family: 'Lato', sans-serif;
    margin-top: 1rem;
}
.price_box {
    margin-top: 2rem;
}
.price_header h4 {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #e48900;
    text-shadow: .1rem .1rem 3px #000;
}
.price_text {
    margin: 2rem 0;
}
.price_text h5 {
    font-size: 1.2rem;
    font-weight: 600;
}
.price_text span {
    color: #575757;
}
