body {
    font-family: 'Yeseva one', cursive;
    box-sizing: border-box;
}
.row {
    margin: 0;
}
.container {
    padding: 70px 0;
}

/*==== BARRA DE NAVEGAÇÃO ========*/
header, .navbar {
    background-color: transparent;
}
.sticky {
    background-color: #e48900;
    padding: 20px 0;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
    padding: 0;
    color: #ffff;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* ========= BANNER ====================*/
.container-fluid {
    padding: 0;
}
#home {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 5%;
}
.banner-text h1 {
    color: #fff;
    font-weight: 900;
    font-size: 65px;
    margin-bottom: 1rem;
    text-shadow: .1rem .2rem 2px #000;
}
.banner-text p {
    color: #fff;
    font-size: 18px;
    text-shadow: .1rem .1rem #000;
}
/* ======== CONTAINER AREA ========*/
#container-area {
    background: url(../img/bg.jpg);
    background-attachment: fixed;
}
#about-area {
    background: #ffff;
    margin-top: 40px;
}
.box_about_left {
    position: relative;
}
.img_two {
    position: absolute;
    width: 50%;
    bottom:-3%;
    right: -6%;
    border: 10px solid #fff;
}
.about_box_right {
    margin-top: 50px;
    padding: 0 100px;
}
.main_title {
    font-size: 40px;
    font-weight: 600;
}
.sub_title {
    font-size: 30px;
    font-weight: 500;
}
.about_box_right p {
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #575757;
}
.about_box_right span {
    font-size: 22px;
}
.main-btn {
    width: 12rem;
    height: 3rem;
    margin-left: 1rem;
    background-color: #e48900;
    border: none;
    transition: 1s;
}
.main-btn a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
.main-btn i {
    font-size: 25px;
    margin-right: .3rem;
}
.main-btn:hover {
    background-color: transparent;
    border: 1px solid #e48900;
}
.main-btn a:hover {
    color: #e48900;
}